body {
    font-family: Helvetica, sans-serif;
}

#sidebar {
    width: 18em;
    
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    
    /* shadowy border */
    box-shadow: 0 0 20px #666;
    -webkit-box-shadow: 0 0 20px #666;
    -moz-box-shadow: 0 0 20px #666;
}

#doclist {
    width: 18em;
    overflow-y: auto;
    overflow-x: hidden;
    
    position: fixed;
    top: 0;
    left: 0;
    bottom: 2em;
    margin: 0;
    
    list-style: none;
    padding: 0;
}
#doclist li {
    margin: 0;
    padding: 4px 10px;
}
#doclist li .title {
    font-size: 1.1em;
}
#doclist li.selected {
    background: #7abcff;
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee));
    color: white;
}

#toolbar {
    width: 18em;
    height: 2em;
    
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    left: 0;
    
    text-align: right;
    
    background: #666;
}
#toolbar button {
    margin: 0;
    
    -webkit-appearance: none;
    border: 0;
    background: transparent;
    
    font-weight: bold;
    font-size: 1.5em;
    color: white;
}
#toolbar button:hover {
    background: black;
}
#toolbar button#addBtn {
    
}

#document {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 18em;
    margin: 0 0 0 1.5em;
}
#document #docdisplay {
    display: none;
}
#document #docedit {
    display: none;
}

#document .title {
    font-size: 1.5em;
    margin: 1em 0 0;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}
#document #docdisplay .title {
    margin-bottom: 0.1em;
}
#document #docdisplay .title a {
    color: black;
}
#document #docdisplay .title a:after {
    content: "\00BB";
    font-size: 0.8em;
}
#document #docdisplay .tags {
    margin-top: 0;
    color: #666;
}

#document #docedit input {
    font-family: Helvetica, sans-serif;
    width: 400px;
}
#document #docedit input.invalid {
    background: #f33;
}
#document #docedit p label {
    display: block;
    font-weight: bold;
    font-size: 0.8em;
    color: #999;
}
#document #docedit p input {
    display: block;
    font-size: 1em;
}
#document #docedit .save {
    display: block;
    margin: 0.2em 0;
    width: 5em;
    
    -webkit-appearance: none;
    background: #666;
    border: 1px solid #333;
    
    color: white;
    font-weight: bold;
    font-size: 1em;
}
#document #docedit .save:hover {
    background: black;
}
