<!DOCTYPE html>
<html>
<head>
    <title>Alwaysreading</title>
    <link rel="stylesheet" href="ar2.css" type="text/css">
    <script src="lib/json2.js"></script>
    <script src="lib/jquery.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/backbone.js"></script>
    <script src="lib/backbone-localstorage.js"></script>
    <script src="ar2.js"></script>
</head>
<body>

<div id="sidebar">
    <ul id="doclist">
    </ul>
    <div id="toolbar">
        <button id="addBtn">+</button>
    </div>
</div>

<div id="document">
    <div id="docdisplay">
    </div>
    <div id="docedit">
    </div>
</div>


<!-- templates -->

<script type="text/template" id="doclistitem-template">
    <span class="title"><%= title %></span>
</script>

<script type="text/template" id="docdisplay-template">
    <h1 class="title"><%= title %></h1>
</script>

<script type="text/template" id="docedit-template">
    <input type="text" name="title" class="title"><%= title %></input>
</script>

</body>
</html>
