<!DOCTYPE html>
<html>
<head>
    <title>Alwaysreading</title>
    <link rel="stylesheet" href="ar2.css" type="text/css">
    <script src="lib/json2.js"></script>
    <script src="lib/jquery.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/backbone.js"></script>
    <script src="lib/backbone-localstorage.js"></script>
    <script src="backbone-collectionview.js"></script>
    <script src="ar2.js"></script>
</head>
<body>

<div id="sidebar">
    <ul id="doclist">
    </ul>
    <div id="toolbar">
        <button id="editBtn">e</button>
        <button id="removeBtn">-</button>
        <button id="addBtn">+</button>
    </div>
</div>

<div id="document">
    <div id="docdisplay">
    </div>
    <form id="docedit">
    </form>
</div>


<!-- templates -->

<script type="text/template" id="doclistitem-template">
    <span class="title"><%= title %></span>
</script>

<script type="text/template" id="docdisplay-template">
    <h1 class="title">
    <% if (link) { %><a href="<%= link %>" target="_blank"><% } %>
    <%= title %>
    <% if (link) { %></a><% } %>
    </h1>
    
    <p class="tags"><%= tags %></p>
</script>

<script type="text/template" id="docedit-template">
    <input type="text" name="title" class="title" value="<%= title %>">
    
    <p>
        <label for="link">link</label>
        <input type="text" name="link" class="link" value="<%= link %>">
    </p>
    <p>
        <label for="tags">tags</label>
        <input type="text" name="tags" class="tags" value="<%= tags %>">
    </p>
    
    <input type="submit" name="save" class="save" value="save">
</script>

</body>
</html>
