body {
    font-family: Helvetica, sans-serif;
}

#sidebar {
    width: 18em;
    
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    
    /* shadowy border */
    box-shadow: 0 0 20px #666;
    -webkit-box-shadow: 0 0 20px #666;
    -moz-box-shadow: 0 0 20px #666;
}

#doclist {
    width: 18em;
    overflow-y: auto;
    overflow-x: hidden;
    
    position: fixed;
    top: 0;
    left: 0;
    bottom: 2em;
    margin: 0;
    
    list-style: none;
    padding: 0;
}
#doclist li {
    margin: 0;
    padding: 4px 10px;
    cursor: default;
}
#doclist li .description {
    font-size: 1.1em;
}
#doclist li.selected {
    background: #7abcff;
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee));
    color: white;
}

#toolbar {
    width: 18em;
    height: 2em;
    
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    left: 0;
    
    text-align: right;
    
    background: #666;
}
#toolbar button {
    margin: 0;
    
    -webkit-appearance: none;
    border: 0;
    background: transparent;
    
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    
    cursor: pointer;
}
#toolbar button:hover {
    background: black;
}
#toolbar button#addBtn {
    
}

#document {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 18em;
    margin: 0 0 0 1.5em;
}
#document #docdisplay {
    display: none;
}
#document #docedit {
    display: none;
}

#document .description {
    font-size: 1.5em;
    margin: 1em 0 0;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}
#document #docdisplay .description {
    margin-bottom: 0.1em;
}
#document #docdisplay .description a {
    color: black;
}
#document #docdisplay .description a:after {
    content: "\00BB";
    font-size: 0.8em;
}
#document #docdisplay .tags {
    margin-top: 0;
    color: #666;
}
#document #docdisplay .tags .tag {
    margin-right: 0.7em;
}

#document #docedit input {
    font-family: Helvetica, sans-serif;
    width: 400px;
}
#document #docedit input.invalid {
    background: #f33;
}
#document #docedit p label {
    display: block;
    font-weight: bold;
    font-size: 0.8em;
    color: #999;
}
#document #docedit p input {
    display: block;
    font-size: 1em;
}
#document #docedit .save {
    display: block;
    margin: 0.2em 0;
    width: 5em;
    
    -webkit-appearance: none;
    background: #666;
    border: 1px solid #333;
    
    color: white;
    font-weight: bold;
    font-size: 1em;
    
    cursor: pointer;
}
#document #docedit .save:hover {
    background: black;
}
#document #docedit p input.read {
    display: inline;
    width: auto;
}
#document #docedit p label.read {
    font-size: 1em;
    display: inline;
    color: black;
}

#splash {
    display: none;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#splash #screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.4;
}
#splashbox {
    position: absolute;
    top: 3em;
    left: 50%;
    margin-left: -15em;
    width: 30em;
    
    border: 1px solid black;
    background: #666;
    color: white;
    padding: 0 1em;
    
    box-shadow: 0 0 20px #666;
    -webkit-box-shadow: 3px 3px 5px #333;
    -moz-box-shadow: 0 0 20px #666;
}
#splashbox h2 {
    font-size: 1.5em;
    margin-top: 0.6em;
}
#splashbox a {
    color: #99f;
}

#openidSelect {
    text-align: center;
    list-style: none;
    padding: 0;
    margin-left: 0;
}
#openidSelect li {
    list-style: none;
    margin: 0 2px;
    padding: 0;
    display: inline-block;
}
#openidSelect a:link, #openidSelect a:visited {
    border: 2px solid #666;
    background: white;
    padding: 7px 7px 2px;
    display: inline-block;
}
#openidSelect a:hover {
    border-color: black;
}
#openidSelect img {
    border-width: 0;
}
#openidEnter {
    margin: 0 0 0 4px;
}
#openidEnter label {
    display: block;
    margin: 0 0 0 4px;
}
#openidEnter input.username {
    width: 15em;
    display: inline-block;
    margin: 0 4px;
    border: 1px solid #ccc;
    font-size: 1.2em;
}
#openidEnter input.submit {
    -khtml-appearance: none;
    font-size: 1.2em;
    border: 1px solid #999;
    background: #eee;
}
#openidEnter input.submit:hover {
    background: #ccc;
}
