<!DOCTYPE html>
<html>
<head>
    <title>Alwaysreading</title>
    <!--DEBUG!-->
    <link rel="stylesheet" href="static/ar2.css" type="text/css">
    <script src="static/lib/json2.js"></script>
    <script src="static/lib/jquery.js"></script>
    <script src="static/lib/underscore.js"></script>
    <script src="static/lib/backbone.js"></script>
    <script src="static/backbone-collectionview.js"></script>
    <script src="static/ar2.js"></script>
    <!--/DEBUG!-->
    <!--PRODUCTION!
    <link rel="stylesheet" href="static/ar2.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script src="static/ar2.js"></script>
    /PRODUCTION!-->
</head>
<body>
    
<div id="sources">
    <ul id="sourcelist">
    </ul>
</div>

<div id="items">
    <ul id="paperlist">
    </ul>
    <div id="toolbar">
        <button id="editBtn">e</button>
        <button id="removeBtn">-</button>
        <button id="addBtn">+</button>
    </div>
</div>

<div id="paper">
    <div id="paperdisplay">
    </div>
    <form id="paperedit">
    </form>
</div>

<div id="splash">
    <div id="screen"></div>
    <div id="splashbox">
        <h2>Alwaysreading.</h2>
    
        <p>This is a tool to help organize the things you need to read and
        to encourage you to keep reading. Add papers quickly as you come
        across them and, when you're in reading mode, check them off one by
        one.</p>
        
        <p>Log in with your Google account or other OpenID to get started:</p>
        
        <ul id="openidSelect">
            <li>
                <a href="#" rel="Google">
                    <img src="/static/openid/google.png"
                    width="100" height="40" alt="sign in with Google">
                </a>
            </li>
            <li>
                <a href="#" rel="Yahoo">
                    <img src="/static/openid/yahoo.png"
                    width="100" height="40" alt="sign in with Yahoo">
                </a>
            </li>
            <li>
                <a href="#" rel="OpenID">
                    <img src="/static/openid/openid.png"
                    width="100" height="40" alt="sign in with another OpenID">
                </a>
            </li>
        </ul>
        <form id="openidEnter">
            <label for="username">Enter your OpenID:</label>
            <input type="text" name="username" class="username">
            <input type="submit" name="submit" class="submit" value="come on in">
        </form>
        
        <p class="plug">
            Alwaysreading is by
            <a href="http://www.cs.washington.edu/homes/asampson/">
            Adrian Sampson</a>.
            It is <a href="http://bitbucket.org/adrian/alwaysreading2/">open
            source</a>.
            Follow <a href="http://twitter.com/alwaysradbox">@alwaysradbox</a>
            on Twitter for updates.
        </p>
    </div>
</div>


<!-- templates -->

<script type="text/template" id="paperlistitem-template">
    <span class="description"><%= description %></span>
</script>

<script type="text/template" id="paperdisplay-template">
    <h1 class="description">
        <% if (link) { %><a href="<%= link %>" target="_blank"><% } %>
        <%= description %>
        <% if (link) { %></a><% } %>
        <% if (read) { %><span class="read">&#10003;</span><% } %>
    </h1>
    
    <p class="tags">
        <% for (i in tags) { %>
            <span class="tag"><%= tags[i] %></span>
        <% } %>
    </p>
    
    <button class="readToggle" title="toggle read">&#10003;</button>
</script>

<script type="text/template" id="paperedit-template">
    <input type="text" name="description" class="description" value="<%= description %>">
    
    <p>
        <label for="link">link</label>
        <input type="text" name="link" class="link" value="<%= link %>">
    </p>
    <p>
        <label for="tags">tags (space-separated)</label>
        <input type="text" name="tags" class="tags" value="<%= tagString %>">
    </p>
    <p>
        <label for="read" class="read">read</label>
        <input type="checkbox" name="read" class="read" value="true"
            <% if (read) { %>checked<% } %>
        >
    </p>
    
    <input type="submit" name="save" class="save" value="save">
</script>

</body>
</html>
